<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <button type="button"><a href="/new">Create new message</a></button>
    <ul>
      <% for(const message of messageArray) { %>
        <span><%= message.user%></span> <br>
        <span><%= message.added%></span> <br>
        <span><%= message.text%></span> <br>
        <br>
      <% } %>
    </ul>
  </body>
</html>